#box3 {
    width: 100px;
    height: 100px;
    background: red;
    position: relative;
    -webkit-animation: box3 5s; /* Chrome, Safari, Opera */
    animation: box3 5s;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes box3 {
    0%   {background:red; left:0px; top:0px;}
    25%  {background:yellow; left:300px; top:0px;}
    50%  {background:blue; left:200px; top:300px;}
    75%  {background:green; left:0px; top:200px;}
    100% {background:red; left:0px; top:0px;}
}
/* Standard syntax */
@keyframes box3 {
    0%   {background:red; left:0px; top:0px;}
    25%  {background:yellow; left:300px; top:0px;}
    50%  {background:blue; left:300px; top:200px;}
    75%  {background:green; left:0px; top:200px;}
    100% {background:red; left:0px; top:0px;}
}
